@using MojaBanka.Models
@{
    ViewBag.Title = "Home Page";
    List<Klijent> lista = ViewBag.Baza;
    Klijent kli = null;
    if (User.Identity.IsAuthenticated)
    {
        kli = lista.FirstOrDefault(x => x.Oib_klijent == ((User as LogiraniKorisnik).Oib));
    }
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Moja Banka</h1>
        <p class="lead">Dobrodošli na moju web aplikaciju za banku.</p>
    </section>

    <div class="row">
        @{ if (User.Identity.IsAuthenticated && kli != null)
            {
                <section class="col-md-4">
                    <h2>Korisnički račun</h2>
                    <p>
                        Kliknite za prikaz podataka o vašem računu u našoj banci.
                    </p>
                    <p>
                        @Html.ActionLink("Moji podaci", "Details", "Klijenti", new { id = kli.Id_klijent }, new { @class = "btn btn-outline-dark" })
                    </p>
                </section>
            }
            else if ((User as LogiraniKorisnik) == null)
            {
                <section class="col-md-4">
                    <h2>Molim prijavu</h2>
                    <p>
                        Za pristup različitim funkcionalnostima trebate se prijaviti kao jedan od tri tipa korisnika s različitim ovlastima.
                    </p>
                    <p>Administrator može vidjeti sve podatke, kretirati nove bankovne klijente, račune i transakcije.</p>
                    <p>Editor može vidjeti samo račune i kreirati transakcije za postojeće račune.</p>
                    <p>Klijent vidi samo svoje podatke i ne može mijenjati ništa u bazi podataka.</p>
                </section>
            }
            else if ((User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator))
            {
                <section class="col-md-4">
                    <h2>Logirani ste kao administrator</h2>
                    <p>
                        Navigirajte pomoću linkova na vrhu.
                    </p>
                </section>
            }
            else if ((User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Editor))
            {
                <section class="col-md-4">
                    <h2>Logirani ste kao editor</h2>
                    <p>
                        Navigirajte pomoću linkova na vrhu.
                    </p>
                </section>
            }
        }
    </div>
</main>