@using MojaBanka.Models
@{
    ViewBag.Title = "Home Page";
    List<Klijent> lista = ViewBag.Baza;
    Klijent kli = null;
    if (User.Identity.IsAuthenticated)
    {
        kli = lista.FirstOrDefault(x => x.Oib_klijent == ((User as LogiraniKorisnik).Oib));
    }
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Moja Banka</h1>
        <p class="lead">Ovo je moj projekt za PAUP.</p>
    </section>

    <div class="row">
    @if (User.Identity.IsAuthenticated && kli != null)
    {
        <section class="col-md-4">
            <h2>Korisnički račun</h2>
            <p>
                Kliknite za prikaz podataka o vašem računu u našoj banci.
            </p>
            <p>
                @Html.ActionLink("Moji podaci", "Details", "Klijenti", new { id = kli.Id_klijent }, new { @class = "btn btn-outline-dark" })
            </p>
        </section>
    }
    </div>
</main>